.be-active{
   display: flex;
}

.be-active-img{
    background-image: url(/img/shutterstock.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.img-container{
    width: 50%;
}

.be-active-container{
    padding-top: 255px;
    padding-bottom: 110px;
    padding-left: 125px;
    position: relative;
    box-sizing: border-box;
}

.be-active-container{
    width: 50%;
}

.be-active-caption, .find-contact-caption, .work-it-caption{
    color: #c1c1c1;
    font-family: "Proxima Nova";
    font-size: 90px;
    font-weight: 700;
    text-transform: uppercase;
}

.be-active-text, .find-contact-text, .work-it-text{
    max-width: 295px;
    margin-top: 110px;
    margin-bottom: 80px;
    color: #000000;
    font-family: "Proxima Nova";
    font-weight: 400;
    font-size: 24px;
}

.be-active-button, .find-contact-button, .work-it-button {
    width: 22px;
    height: 5px;
    border-radius: 2px;
    background-color: #5e42b0;
}

.be-active-number-container,.work-it-number-container{
    top: 211px;
    left: -84px;
}

.be-active-number-container, .find-contact-number-container, .work-it-number-container {
    width: 168px;
    height: 155px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5e42b0;
    position: absolute;
}

.be-active-number__underline, .find-contact-number__underline, .work-it-number__underline {
    width: 22px;
    height: 5px;
    border-radius: 2px;
    background-color: #8e7bc8;
}

.be-active-number__number, .find-contact-number__number, .work-it-number__number {
    color: #f5f6f7;
    font-size: 24px;
    font-family: "Proxima Nova B", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}